<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Acadêmico - Curso Disciplina</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Acadêmico</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Abrir Navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/pessoa/">Pessoa</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/ocupacao/">Ocupação</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/instituicaoensino/">Instituição de Ensino</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/areasaber/">Área do Saber</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/curso/">Curso</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/turma/">Turma</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/disciplina/">Disciplina</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/matricula/">Matrícula</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/avaliacao">Avaliação</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/frequencia/">Frequência</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/turnos/">Turno</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/ufs/">UF</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/cidade/">Cidade</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/ocorrencia/">Ocorrência</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/cursodisciplina/">Curso-Disciplina</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/avaliacaotipo/">Tipo da Avaliação</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Bem-Vindo(a) à aplicação do Acadêmico!</h1>
            <h2 class="display-5">Essa é a tabela da disciplina do curso :</h2>
        </div>
    </div>

    <div class="jumbotron container mt-5 mx-auto d-flex justify-content-center">
        <table class="table table-bordered w-auto">
    <tr>
        <th>Curso</th>
        <th>Disciplina</th>
        <th>Carga Horária</th>
        <th>Período</th>
    </tr>
    {% for cd in cursodisciplina %}
    <tr>
        <td>{{ cd.curso }}</td>
        <td>{{ cd.disciplina }}</td>
        <td>{{ cd.carga_horaria }}</td>
        <td>{{ cd.periodo }}</td>
    </tr>
    {% endfor %}
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>